::ng-deep {
    p-text-box {
        width: 100%;
    }
    button {
        //width: 100%;
    }
    .titleContainer {
        display: flex;
        justify-content: space-between;
        padding: 10px;
    }
}
